<div class='mr10 float-right'>
  <a href="#"><%= icon 'fas', 'trash', class: 'pr-1' %></a>
  <a href="#"><%= icon 'fa', 'pen' %></a>
</div>
<ul class="list-inline">
  <li class="list-inline-item">
    <%= icon 'far', 'user' %>
    <%= board.user.decorate.full_name %>
  </li>
  <li class="list-inline-item">
    <%= icon 'far', 'calendar' %>
    <%= l board.created_at, format: :long %>
  </li>
</ul>
