<!DOCTYPE html>
<html>
  <head>
    <title>RunteqNormal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header.html' %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
